<div class="row justify-content-md-center login"> 
	<div class="login-container col-sm-4">
		<form [formGroup]="loginForm" (ngSubmit)="login()">
			<h1>NgVeta Dashboard</h1>
			<h2>Sign in to start your session.</h2>
			<input type="text" formControlName = "username" (ngModelChange)="clearData()" class="form-control" aria-label="Book" aria-describedby="wbasic-addon1" placeholder="Username" required>
			<input type="password" formControlName="password" (ngModelChange)="clearData()" class="form-control" aria-label="Book" aria-describedby="wbasic-addon1" placeholder="Password" required>
			<div  *ngIf="userlogin.error || userlogin.success " class ="alert" [ngClass]="{
			        'alert-danger': userlogin.error,
			        'alert-success': userlogin.success
			}">
				{{userlogin.errorMgs}}
			</div>
			<br>
			<input class="button_submit btn" type="submit" name="Log In" value="Sign In">
		</form>
	</div>
</div>