div{
	text-align: center;

}

h1{
	font-size: 50px !important;
	font-weight: 300;
}

h2{
	font-size: 16px !important;
	font-weight: 200;
	margin-bottom: 60px;
}

form{
	margin-top: 75px;
}

input{
	margin-top: 20px;
	font-weight: 200;
}

.button_submit{
	width: 150px;
	margin: 0 auto;
	cursor: pointer;
	background-color:#FFC841;
	margin-bottom: 100px;
}

.error{
	color:darkred;
	font-weight: 400;
	font-size: 15px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.login {
	min-height: calc(100vh - 180px);
}