<app-header></app-header>

<main>
	<!-- Bootstrap row -->
	<div class="row" id="body-row">

		<!-- Side bar -->
		<app-sidebar></app-sidebar>

		 <!-- MAIN -->
	    <div class="col">
	        
	        <h1>
	            Collapsing Menu
	            <small class="text-muted">Version 2.1</small>
	        </h1>
	        
	        
	        <div class="card">
	            <h4 class="card-header">Requirements</h4>
	            <div class="card-body">
	                <router-outlet></router-outlet>
	            </div>
	        </div>
	       


	    </div><!-- Main Col END -->
	    
	</div><!-- body-row END -->
  	
</main>

<app-footer></app-footer>

