main {
    min-height: calc(100vh - 120px);
    color: #d3ebff;
}

.card {
	margin-top: 15px;
	background-color: rgba(0, 0, 0, 0.19);
    border: 1px solid rgb(27, 52, 72);
}

.card-body {
    padding: 20px;
    padding-left: 10px;
}

.card-header {
    padding: .75rem 1.25rem;
    margin-bottom: 0;
    background-color: #0a131a;
    border-bottom: 1px solid rgba(0,0,0,.125);
}

.row {
	margin-right: 0px;
}

.navbar {
    padding: 0px;
}

.app-content{
    padding-left: 16px;
}